<?xml version="1.0"?>
<launch>
    <!-- roomba -->
    <arg name="roomba" default="roomba1" />

    <!-- manager -->
    <arg name="manager_name" default="nodelet_magager" />
    <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen" />

    <!-- color -->
    <node pkg="image_transport" type="republish" name="color_republish" args="compressed raw" >
        <remap from="in" to="$(arg roomba)/camera/color/image_rect_color" />
        <remap from="out" to="$(arg roomba)/camera/color/image_rect_color" />
    </node>
</launch>
